@model CodeSnippetSaver.Models.Code

@{
    ViewData["Title"] = "Delete";
}

<h3 style="padding-top:3%;">Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Code Snippet :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>
    </dl>
    
    <form style="padding-left:60px;" asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>